:root {
  --vermelho: #E50914;
  --preto: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--preto);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

/* header e navbar */

header #logo {
  color: var(--vermelho);
  font-size: 40px;
  margin-left: 40px;
}

.header-nav-link {
  text-decoration: none;
  color: #AAA;
  margin-right: 20px;
}

header nav {
  margin-right: 60px;
}

.header-nav-link:hover {
  color: #FFFF;
}

#container-header {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#container-header nav ul {
  display: flex;
  list-style: none;
  margin-right: 15px;
}

/* .active {
  color: white
} */

/* filme principal */

.main-movie {
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(/src/img/capa.jpg);
  height: 500px;
  background-size:cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.buttons {
  margin-top: 50px;
}

.title {
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 5%;
}

.sinopse {
  margin-top: 15px;
}

.button {
  background-color:  rgba(255,255,255,.70);
  border: none;
  padding: 13px;
  margin-right: 7px;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 3px;
  
}

.button:hover {
  background-color: rgba(255,255,255,.30);
}

.container-main-movie {
  margin-left: 30px;
  width: 50%;
}
